<div class="container">
    <h2>CONTACTO</h2>
    <div class="image">
        <!-- Mostramos la imagen también si existe -->
        <img src="/assets/img/contacto.jpg" />
    </div>

    <div>
        <h2></h2>
        <div id="contactInfo">
            <h1>Sergio Carrasco</h1>
            <h2>Desarrollador Web Full Stack</h2>
            <p>Teléfono: +34 633 92 32 29</p>
            <p>Email: chechucarrasco@gmail.com</p>
            <p>Website: www.sergiowebejemplo.com</p>
        </div>
    </div>
</div>