.image img {
    width: 100%;
    max-width: 910px;
    height: auto;
    overflow: hidden;
}

#contactInfo {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 70px;
    margin-top: 40px;
}


/* Title header */

#contactInfo h1 {
    /* Source imported into styles.css */
    font-family: "finger";
    font-size: 30px;
    padding-bottom: 5px;
}


/* Subtitle */

#contactInfo h2 {
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}