<!-- Project Data -->
<div class="container" *ngIf="project">

    <div class="projectDetail" *ngIf="project">

        <!-- <div class="image" *ngIf="project.image">

            <img src="{{url+'/get-image/'+project.image}}" *ngIf="project.image" />
        </div> -->
        <div class="data">
            <img src="{{url+'/get-image/'+project.image}}" *ngIf="project.image" class="image" />
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <br>
            <p class="tag"><span> Categoría: </span>{{ project.category }}</p>
            <p class="tag"><span> Lenguajes: </span>{{ project.langs }}</p>
            <p class="tag" *ngIf="project.gitHub"><span> GitHub: </span> <a href="{{ project.gitHub }}" target="_blank">{{ project.gitHub }}</a></p>

            <p *ngIf="confirm == false">
                <a [routerLink]="['/editar-proyecto', project._id]" class="button_edit">Editar</a>
                <a (click)="setConfirm(true)" class="button_delete">Borrar</a>
            </p>

            <p *ngIf="confirm == true">
                <span class="confirm">¿Estás seguro de eliminar este proyecto?</span> <br/>
                <a (click)="setConfirm(false)" class="button_edit">Cancelar</a>
                <a (click)="deleteProject(project._id)" class="button_confirm">Eliminar definitivamente</a>
            </p>
        </div>
    </div>
</div>