.container {
    min-height: 600px;
}


/* Project image */

.container .projectDetail .image {
    float: left;
    width: 60%;
    max-width: 600px;
    margin-right: 15px;
}


/* Project data */

.container .projectDetail .data {
    float: left;
    width: 100%;
}

.container .projectDetail .data p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: medium;
    text-align: justify;
}

.container .projectDetail .data .tag {
    text-align: left;
}

.container .projectDetail .data .tag span {
    font-weight: bold;
}


/* GitHub link */

a {
    text-decoration: none;
    color: rgba(53, 103, 164, 0.8);
    font-weight: bold;
}


/* Buttons */

.button_edit,
.button_delete,
.button_confirm {
    display: block;
    font-size: 17px;
    padding: 5px;
    margin-top: 15px;
    color: white;
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
    width: 15%;
    max-width: 170px;
    float: left;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
}

.button_edit {
    background: #e2d40a;
}

.button_delete {
    background: #f02929;
}

.button_confirm {
    background: #f02929;
    width: auto;
}

.confirm {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}