/* Estilos página detalle del proyecto (Componente project-detail) */

/* Flotamos a la izquierda la imagen del detalle del proyecto de la página project-detail, y le damos
un width dentro del contenedor del 47% y a los datos que mostramos(.data). Así dividimos el contenedor
para la imagen y para los datos */
.container .projectDetail .image{
	float: left;
	width: 47%;
}

.container .projectDetail .image img{
	/* A la imagen le damos el 100% del 47% del contenedor */
	width: 100%;
}

.container .projectDetail .data{
	float: left;
	width: 47%;
	margin-left: 20px;
}
/* Botones editar y borrar de la pagína detalle proyecto (Componente project-detail) */
.button_edit, .button_delete, .button_confirm{
	display: block;
	font-size: 17px;
	padding: 5px;
	margin-top: 15px;
	color: white;
	border: 1px solid rgba(13, 67, 133, 1);
	cursor: pointer;
	width: 35%;
	float: left;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
}

.button_edit{
	background: #e2d40a;
}

.button_delete{
	background: #f02929;
}

.button_confirm{
	background: #f02929;
	width: auto;
}

.confirm{
	display: block;
	font-weight: bold;
	margin-top: 15px;
}