<div class="profile_image">
    <img src="/assets/img/profile.jpg" alt="Imagen de perfil">
</div>

<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        He sido ciclista profesional entre los años 2009 y 2013 con dos participaciones en La Vuelta a España (2010-2012). Años que siempre he compatibilizado con mi formación y en los que he desarrollado una gran capacidad de sacrificio, trabajo en equipo, compañerismo
        y perseverancia, además de una especial habilidad para funcionar bajo presión.
    </p>
    <p>
        Actualmente me encuentro en la búsqueda de mi primer empleo como programador, con ilusión, ganas de aprender y empezar una nueva etapa en mi vida. Tras años de sacrificio, conseguí la oportunidad de llegar al deporte de élite, concretamente al ciclismo.
        Años en los que la dedicación debía ser máxima, y es por ello que no he podido dedicarme antes a esta profesión.
    </p>
    <p>
        En referencia a mi vida deportiva, he sido ciclista profesional entre los años 2009 y 2013, con dos participaciones en La Vuelta a España (2010 y 2012). Años que siempre he compatibilizado con mi formación y en los que he desarrollado una gran capacidad
        de sacrificio, trabajo en equipo, compañerismo y perseverancia, además de una habilidad para funcionar bajo presión.
    </p>
    <p>
        No cabe duda de que la falta de experiencia es un hándicap hoy en día, aun así, creo que el deporte de alto nivel, dada la responsabilidad y presión que conlleva, además del entorno multicultural al que me ha expuesto me ha permitido desarrollar valores
        y habilidades que, en la vida personal y laboral, tienen una importancia fundamental a la hora de afrontar determinadas situaciones, o, al menos, así lo veo yo.
    </p>
    <p>
        Sé que no es fácil incorporarse al mundo laboral tras un tiempo de haber finalizado mis estudios, pero me gusta programar, y siempre he querido dedicarme a ello. Y, con esfuerzo, sacrificio y perseverancia sé que lo conseguiré. Espero tener la oportunidad
        de conversar con usted próximamente en una entrevista, y, si no puede ser, muchas gracias por dedicarme parte de su tiempo.
    </p>
</article>