<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipiscing elit donec lacinia, quis fames platea aenean congue ultrices pulvinar arcu vulputate commodo, malesuada mattis conubia hendrerit mus praesent ullamcorper turpis. Leo dictumst et tempor auctor enim mauris cras senectus, platea nostra ullamcorper taciti sem risus at. Senectus sagittis elementum libero mauris malesuada molestie posuere pretium faucibus, fringilla varius ornare leo dignissim blandit curae congue euismod dictum, netus sem suscipit cursus ultrices nascetur dis tortor. Habitasse mattis feugiat tortor porttitor fermentum sem commodo, ut sociis duis vehicula neque est massa, consequat et pharetra libero molestie habitant.
		Lorem ipsum dolor sit amet consectetur adipiscing elit donec lacinia, quis fames platea aenean congue ultrices pulvinar arcu vulputate commodo, malesuada mattis conubia hendrerit mus praesent ullamcorper turpis. Leo dictumst et tempor auctor enim mauris cras senectus, platea nostra ullamcorper taciti sem risus at. Senectus sagittis elementum libero mauris malesuada molestie posuere pretium faucibus, fringilla varius ornare leo dignissim blandit curae congue euismod dictum, netus sem suscipit cursus ultrices nascetur dis tortor. Habitasse mattis feugiat tortor porttitor fermentum sem commodo, ut sociis duis vehicula neque est massa, consequat et pharetra libero molestie habitant.
	</p>
</article>
