#title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 20px;
}


/* Title header */

#title h1 {
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}


/* Subtitle */

#title h2 {
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* About content */

article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 0px;
    padding-bottom: 15px;
    font-size: 23px;
}


/* Title "Sobre mí" */

.about h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


/* Paragraph "Sobre mí" */

.about p {
    padding-top: 20px;
    text-align: justify;
}


/* Profile image */

.profile_image img {
    width: 250px;
    margin: auto;
    display: block;
}