#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 20px;
}

/* Encabezado h1 del título*/
#title h1{
	/* Fuente importada en styles.css */
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

/* Encabezado h2 del título (subtitle) */
#title h2{
	font-size: 25px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Contenido de about (etiqueta article con clase about) */
article.about{
	width: 70%;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}

/* Título Sobre mí */
.about h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

/* Párrafo de Sobre mí */
.about p{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;
}


