/* Importar fuentes custom */
@font-face{
	font-family: "yanone";
	src: url("../fonts/YanoneKaffeesatz-Light.ttf");
}

@font-face{
	font-family: "finger";
	src: url("../fonts/FingerPaint-Regular.ttf");
}

/* ******************************* Estilos generales ********************************** */

/* Margen y padding 0px para todos los elementos, así poder controlar 100% los tamaños y márgenes de los 
   elementos */
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	background: url("../img/pattern.png");
	/* Para cuando hagamos scroll no sintamos que el fondo se mueve, si no que se quede fijo. */
	background-attachment: fixed;
}

/* Limpiamos los flotados entre los diferentes elementos */
.clearfix{
	float: none;
	clear: both;
}

/* Header - Cabezera */

header{
	display: block;
	width: 100%;
	height: 90px;
	background: rgba(53, 103, 164, 0.8);
	/* Para que se nos quede la barra de navegación siempre fijada arriba */
	position: fixed;
	text-transform: uppercase;
}

/* Menú de navegación */
header ul{
	/* para que actúe como un bloque */
	display: block;
	width: 50%;
	height: inherit; /* con inherit hereda del padre */
	margin: 0px auto;
	margin-top: -5px;
}

header ul li{
	display: inline-block;/* uno al lado del otro */
	margin: 0px auto;
	text-align: center;
	line-height: 90px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color: white;
	transition: all 300ms;
}


/* Le ponemos fondo negro a los enlaces del menú al pasar el ratón por encima. Y
   le añadimos la clase .actived al estár seleccionado en el menú. Esto lo hace la directiva
   [routerLinkActive] aplicada en la vista del menú app.component.html */
header a:hover, .actived{
	background: rgba(0,0,0,0.8);
}
/* Evitamos que el logo tenga la transición cuando pasemos el cursor por encima */
header #logo a:hover{
	background: transparent;
}

/*  Estilos Logotipo Menú */
#logo{
	font-family: finger;
	font-size: 35px;
}

/* Metemos un efecto de transición al enlace del color y una transformación, de
   500ms ambos, definimos la transición en #logo a:hover{} */
#logo a{
	transition: color 500ms, tranform 500ms;
}

/* Al logo como es un enlace también le ponemos fondo transparente para que parezca
que no tiene función de hover. */
#logo a:hover{
	background: transparent;
	color: black;
	transform: scale(1.50, 1.50);
}

/* Contenedor principal - Content */
#content{
	min-height: 600px;
	height: 100%;
	width: 75%;
	/* centramos el elemento */
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 120px;
}

/* Pié de página - Footer */
footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0, 0, 0, 0.5);
}