/* Importar fuentes custom */
@font-face{
	font-family: "yanone";
	src: url("../fonts/YanoneKaffeesatz-Light.ttf");
}

@font-face{
	font-family: "finger";
	src: url("../fonts/FingerPaint-Regular.ttf");
}

/* ******************************* Estilos generales ********************************** */

/* Margen y padding 0px para todos los elementos, así poder controlar 100% los tamaños y márgenes de los 
   elementos */
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	background: url("../img/pattern.png");
	/* Para cuando hagamos scroll no sintamos que el fondo se mueve, si no que se quede fijo. */
	background-attachment: fixed;
}