<!-- Listamos los proyectos obtenidos en el componente -->
<div class="container">
	<h2>Proyectos</h2>

	<ul>
		<!-- Recorremos los proyectos obtenidos para mostrarlos. Y además le aplicamos la pipe paginate del componente ngx-pagination instalado en el proyecto. Podemos cambiar el número de proyectos por página cambiando el valor de itemsPerPage -->
		<li *ngFor="let project of projects | paginate: {itemsPerPage: 6, currentPage: actualPage}" class="project">
			<!-- Hacemos que todo sea un enlace al componente 'project-detail' pasándole el id del proyecto y que nos mostrará toda la información del proyecto -->
			<a [routerLink]="['/proyecto', project._id]">
				<!-- Metemos la imagen en un div para crear una máscara(class image), así conseguiremos que todo lo que sobresalga del div lo recorte -->
				<div class="image">
					<!-- Mostramos la imagen también si existe -->
					<img src="{{url+'/get-image/'+project.image}}" *ngIf="project.image" />
				</div>
				<h3>{{project.name}}</h3>
				<p>{{project.category}}</p>
			</a>
		</li>
	</ul>
	<!-- Div para incluir el componente de paginación ngx-pagination -->
	<div class="pagination">	
		<pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
	</div>	
</div>
