<div class="container">
    <h2>{{title}}</h2>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required />
            <span class="formError" *ngIf="name.touched && !name.valid">
				El nombre es obligatorio.
			</span>
        </p>
        <p>
            <label for="description">Descripción</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <span class="formError" *ngIf="description.touched && !description.valid">
				La descripción es obligatoria.
			</span>
        </p>
        <p>
            <label for="category">Categoría</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
            <span class="formError" *ngIf="category.touched && !category.valid">
				La categoría es obligatoria.
			</span>
        </p>
        <p>
            <label for="year">Año de creación</label>
            <input type="text" name="year" #year="ngModel" [(ngModel)]="project.year" required />
            <span class="formError" *ngIf="year.touched && !year.valid">
				El año es obligatorio
			</span>
        </p>
        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
            <span class="formError" *ngIf="langs.touched && !langs.valid">
				Detallar los lenguajes utilizados es obligatorio.
			</span>
        </p>
        <p>
            <label for="gitHub">GitHub</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.gitHub" />
        </p>
        <p>
            <label for="image">Imagen del proyecto</label>
            <!-- En el input de la imagen lanzamos el evento (change) de angular que salta cuando hacemos algún cambio en un input y llama a otro método que tengamos en nuestro componente. En la variable $event tendremos todos los datos que haya capturado ese input. -->
            <input type="file" name="image" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
        </p>
        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" />
    </form>

    <!-- Div para mostrar si el guardado de datos ha sido satisfactirio -->
    <div class="message success" *ngIf="status == 'success'">
        El proyecto se ha creado correctamente, puedes verlo <a [routerLink]="['/proyecto/', saveProject._id]">aquí</a>.
    </div>
    <!-- Div para mostrar si ha habido un error al crear el proyecto -->
    <div class="message failed" *ngIf="status == 'failed'">
        Ha ocurrido un error al crear el proyecto.
    </div>

</div>