<!-- Necesitamos poner un ngIf para que no de error en el componente edit-project porque intente cargar los datos antes que se haya cargado el objeto project. Esto es porque al cargar el componente en el método(ngOnInit) llamamos al método getProject para cargar los datos del proyecto a editar, y cómo javascrit carga antes que Ajax tenemos que poner el ngIf="project" para que solo lo cargue si el objeto project ya contiene algo. -->
<div class="container" *ngIf="project">
    <h2>{{title}}</h2>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required />
            <span class="formError" *ngIf="name.touched && !name.valid">
				El nombre es obligatorio.
			</span>
        </p>
        <p>
            <label for="description">Descripción</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <span class="formError" *ngIf="description.touched && !description.valid">
				La descripción es obligatoria.
			</span>
        </p>
        <p>
            <label for="category">Categoría</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
            <span class="formError" *ngIf="category.touched && !category.valid">
				La categoría es obligatoria.
			</span>
        </p>
        <p>
            <label for="year">Año de creación</label>
            <input type="text" name="year" #year="ngModel" [(ngModel)]="project.year" required />
            <span class="formError" *ngIf="year.touched && !year.valid">
				El año es obligatorio
			</span>
        </p>
        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
            <span class="formError" *ngIf="langs.touched && !langs.valid">
				Detallar los lenguajes utilizados es obligatorio.
			</span>
        </p>
        <p>
            <label for="image">Imagen del proyecto</label>
            <!-- Cargamos la imagen si project existe, ya que javascript carga antes que Ajax-->
            <span class="image" *ngIf="project.image">
				<!-- Mostramos la imagen también si existe -->
				<img src="{{url+'/get-image/'+project.image}}" width="100px" />
			</span>
            <br/>
            <!-- En el input de la imagen lanzamos el evento (change) de angular llamamos al método fileChangeEvent pasándole lo que contiene el input con la variable $event -->
            <input type="file" name="image" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
        </p>
        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" />
    </form>

    <!-- Div para mostrar si la actualización ha sido satisfactoria -->
    <div class="message success" *ngIf="status == 'success'">
        El proyecto se ha actualizado correctamente, puedes verlo <a [routerLink]="['/proyecto/', saveProject]">aquí</a>.
    </div>
    <!-- Div para mostrar si ha habido un error al actualizar el proyecto -->
    <div class="message failed" *ngIf="status == 'failed'">
        Ha ocurrido un error al actualizar el proyecto.
    </div>
</div>